#hader{
	width:850;
	margin:50px 50px 50px 50px;
}

div{
	background:#E5F3F3 none repeat scroll 0% 0%;
	padding:2%;
	padding-left:4%
}
.fotter{
	height:150;
	width:850px;
	margin:50px;50px;50px;50px;
	padding:2%;
	padding-left:4%
}