#hader{
	font-weight:bold;
	font-family:sonkhaMJ;
	color:#fff;
	background:blue;
	font-size:30;
	display:block;
	line-height:25px;
	height:400px;
	padding-top:40;
	
}
.div1{
	height: 355px;
	width:400px;
	margin-top:;
	margin:0 auto;
	padding:5% 0% 0% 9%;
	background:pink;
	font-size:25px;
	overflow:hidden;
	margin-bottom:0;
}
.footer{
	height:200;
	width:100%;
	background-color:#3FECFF;
	margin-top:0px;
	padding:100;
	overflow:hidden;
}